# FastStream code owners
# About code owners https://docs.github.com/ru/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global
* @Lancetnik

# Documentation
/docs/ @kumaranvpl

# Observability
/faststream/opentelemetry/ @draincoder
/faststream/prometheus/ @draincoder
/tests/opentelemetry/ @draincoder
/tests/prometheus/ @draincoder
/docs/docs/en/getting-started/observability/ @draincoder

# ASGI
/faststream/asgi @Sehat1137
/tests/asgi @Sehat1137

# CLI
/faststream/cli @Sehat1137
/tests/cli @Sehat1137

# MQTT
/faststream/mqtt/ @borisalekseev
/tests/brokers/mqtt/ @borisalekseev
/docs/docs/en/mqtt/ @borisalekseev
