__pycache__
dist
.idea
.zed
venv*
.venv*
.env
.env*
.vscode
.pypirc
.pytest_cache
.ruff_cache
.mypy_cache
.coverage*
pyrightconfig.json
.cache
htmlcov
token
.DS_Store
*.egg-info
.codspeed

docs/site/
docs/site_build/
docs/docs/SUMMARY.md
docs/docs/en/api/faststream/
